<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main p-4  w-full min-h-screen bg-zinc-900">
        
        <div>
            <a  class="text-blue-400 font-bold hover:text-blue-300"
                href="/"
                >go back to home
            </a>
            <div class="note bg-gray-800 p-4 rounded-lg shadow-lg my-3 w-full ">
                <% console.log(data) %>
                <div class="content flex flex-col gap-5">
                    <h1 class="title  text-3xl font-bold ">
                        <%= data.title %>
                    </h1>

                    <p class="description text-gray-300 ">
                      <%= data.description %>  
                    </p>
                    <div class="flex align-center  gap-2">
                        <% const href = data.title.split(' ').join('-') + '.txt' %>
                        <button class="bg-blue-700 rounded-lg px-3 py-2 ">
                            <a href="">Edit</a>
                        </button>
                        <button class="bg-blue-700 rounded-lg px-3 py-2 ">
                            <a href="/delete/<%= href %>">Delete</a>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>